.profile-content {
    
    .scroll-content {
        padding: 0px !important;
    }

    .profile-container {

        .profile-background {
            position: relative;
            width: 100%;
            height: 199px;

            img.background {
                width: 100%;
                height: 100%;
                object-fit: cover;
                filter: blur(3px);
            }

            .profile-image {
                position: absolute;
                width: 87px;
                height: 87px;
                bottom: -20px;
                left: 50%;
                transform: translate(-50%, 0);
        
                img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border: solid 2px seagreen;
                }
            }
        }   

        .profile-info {
            margin-top: 38px;
            text-align: center;
            padding: 0px 32px;
            font-family: AppleSDGothicNeo;
            color: #000000;

            .nickname {
                font-size: 21px;
                font-weight: 600;   
            }
            
            .introduce {
                margin-top: 8px;
                font-size: 12px;
                font-weight: 500;
                opacity: 0.6;
            }

            .more-button {
                font-size: 12px;
                font-weight: 600;

                ion-icon {
                    margin-left: 5px;
                    vertical-align: middle;
                }
            }

            .button-container {
                margin-top: 22px;
                padding: 0px 16px;

                .title {
                    opacity: 0.5;
                    font-size: 10px;
                    font-weight: 600;
                }

                .count {
                    font-size: 18px;
                    font-weight: 600;
                }

                .detail-button {
                    border-radius: 25px;
                    border: solid 1px #ed0434;
                    font-family: AppleSDGothicNeo;
                    font-size: 13px;
                    font-weight: 600;
                    text-align: center;
                    color: #ed0434;
                    height: 43px;
                    line-height: 43px;
                }

                .follow-button {
                    border-radius: 25px;
                    border: solid 1px #000000;
                	font-size: 13px;
                    font-weight: 600;
                    text-align: center;
                    color: #000000;
                    height: 43px;
                    line-height: 43px;

                    ion-icon {
                        margin-left: 5px;
                        vertical-align: middle;
                    }
                }
            }
        }

        .profile-my-feed {
            margin-top: 35px;
            padding: 0 16px 32px;

            .title {
                font-family: AppleSDGothicNeo;
                font-size: 15px;
                font-weight: 600;
                text-align: left;
                color: #000000;
            }
        }
    }
}
